
/* html { 
    background: url(../src/images/backGround.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
    
    .header {
      font-size: 20px;
      width: 100%;
      color: #13284c;
      background: #c41230;
      text-align: center;
      border-radius: 10px 10px 10px 10px;
      padding: 5px;
      font-family: "Open Sans";
      margin: auto;
    }

    .content {
        width: 30%;
        margin: auto auto;
        padding: 20px;
        border: 1px solid #13284c;
       
        border-radius: 0px 0px 10px 10px;
      }

    body {
        background-color: #13284c;
    }

    h5 {
        font-size: 20px;
        width: 30%;
        color: #13284c;
        text-align: center;
        border-radius: 3px 3px 3px 3px;
        padding: 10px;
        font-family: "Open Sans";
        margin: auto;
    }

    section {
        margin: auto;
    }

    p {
        text-align: center;
    }

    form {
      width: 30%;
      margin: 0px auto;
      padding: 1px;
    
      border-radius: 5px 5px 5px 5px;
    }
    .input-group {
      margin: 10px 0px 10px 0px;
    }
    .input-group label {
      display: block;
      text-align: left;
      margin: 3px;
      font-family: "Open Sans";
      color: #c41230;
    }
    .input-group input {
      height: 30px;
      width: 93%;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 30px;
      border: 1px solid gray;
    }
    .btn {
      padding: 10px;
      font-size: 15px;
      color: white;
      background: #5F9EA0;
      border: none;
      border-radius: 5px;
    }
    .error {
      width: 92%; 
      margin: 0px auto; 
      padding: 10px; 
      border: 1px solid #a94442; 
      color: #a94442; 
      background: #f2dede; 
      border-radius: 5px; 
      text-align: left;
    }
    .success {
      color: #3c763d; 
      background: #dff0d8; 
      border: 1px solid #3c763d;
      margin-bottom: 20px;
    }
  
    p {
      font-family: sans-serif;
      font-size: 30px;
      margin: 50px auto 0px;
      color: #13284c;
    }
  
    a {
        color: white;
    } 

    /* .canvas1 {
        position: fixed;
        left: 200px;
    }

    .canvas2 {
        position: fixed;
        right: 200px;
    } */

  .canvas1{
      float: left;
  }

  .canvas2 {
    float: right; 
      /* margin-left: 65%; */
  }
  
  .boards {
      position: relative;
      margin: 0 auto;
      /* justify-content: center; */
  }

  .gameMenu {
      position: relative;
      margin: auto;
      text-align:center;
  }

  .inputs {
      position: relative;
      margin: auto;
      text-align: center;
  }

  .enemyName {
      float: left; 
      color: #13284c;
      text-align: center; 
      border-style: outset; 
      margin: auto; 
      width: 20%; 
      background: #c41230; 
      border-color: red;
  }

  .playerName {
      float: right; 
      color: #13284c;
      text-align: center; 
      border-style: outset; 
      margin: auto; 
      width: 20%; 
      background: #c41230; 
      border-color: red;
  }

  .ShipsLeft {
    margin: auto;
    background: #c41230;
  }

  .enemyShipsLeft {
    font-family: sans-serif;
    float: left;
    
  }

  .playerShipsLeft {
    font-family: sans-serif;
    float: right;
  }