
html { 
  background: url(../assets/images/backGround.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
  .header {
    font-size: 30px;
    width: 30%;
    margin: 50px auto 0px;
    color: #13284c;
    background: #c41230;
    text-align: center;
    border: 1px transparent #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 21px;
    font-family: "Open Sans";
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #13284c;
    background: #13284c;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    font-size: 20px;
    margin: 3px;
    font-family: "Open Sans";
    color: #c41230;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    cursor: pointer;
    color: #c41230;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
  }

  
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    margin: 50px auto 0px;
    color: #c41230;
  }

  a {
      color: white;
  }

  a:hover {
    cursor: pointer;
    color: #c41230;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
  }