
html { 
    background: url(../src/images/backGround.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    
    .header {
      font-size: 30px;
      width: 30%;
      margin: 50px auto 0px;
      color: #13284c;
      background: #c41230;
      text-align: center;
      border: 1px transparent #B0C4DE;
      border-bottom: none;
      border-radius: 10px 10px 0px 0px;
      padding: 21px;
      font-family: "Open Sans";
    }
     .content {
      width: 30%;
      margin: 0px auto;
      padding: 20px;
      border: 1px solid #13284c;
      background: #13284c;
      border-radius: 0px 0px 10px 10px;
    }
   
.leaderboard {
    text-align: center;
    margin: auto;
    width: 20%;
    height: 20%;
    padding: 30px;
    border: 1px solid #13284c;
    background: #13284c;
    border-radius: 10px 10px 10px 10px;
    
}

.btn {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    width: 85px;
    color: #c41230;
    background: #13284c;
}

a{
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    margin: auto;
    color: white;
    animation: ease-out 300ms anim;
    text-align: center;
    font-size: 2em;
}

a:hover {
    cursor: pointer;
    color: #c41230;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
}

p{
    color: white;
}